@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Mitr:wght@200;300;400;500;600;700&display=swap');

html {
    --scrollbarBG: rgb(37, 50, 56);
    --thumbBG: #fafafa;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
    font-family: "Mitr", sans-serif;
    min-height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* Animations */

@keyframes pageLoader {
    from {
        opacity: 0;
        transform: translateY(-10px);
        background: rgb(14, 30, 32);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navigation menu */

.landing {
    padding: 0;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.nav-style {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  padding-left: 4rem;
  font-size: 1.2rem;
}

.nav-links li a {
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-toggler span i {
    color: #fafafa;
}

.nav-links li a:hover {
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
    transition: 0.5s;
}

.active a {
    border-bottom: 1px solid #fafafa;
}

#logo {
    color: #fafafa;
    text-decoration: none;
    font-family: "Merriweather", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
}

/* Page content */

#page-loader {
    animation: pageLoader 0.75s;
}

/* Page headers */

section h1 {
    color: #fafafa;
    text-align: center;
    margin-top: 2rem;
    font-family: "Merriweather", sans-serif;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
}

/* Home Page */

/* Intro sliders */

.intro {
  background: rgb(17, 19, 17);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #fafafa;
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  max-width: 90%;
}

.slider {
  background: rgb(40, 156, 177);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.welcome-text {
    font-family: "Merriweather", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

.hide {
  background: rgb(17, 19, 17);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.home-name {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-family: "Merriweather", sans-serif;
    font-size: 2rem;
    color: #fafafa;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
}

.home-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-family: "Merriweather", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #fafafa;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
}

.home-list {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    list-style: none;
    padding: 0;
    width: 80%;
    text-align: center;
}

.home-list li {
    display: inline;
    padding: 0 2rem;
}

.home-list li a {
    font-size: 2.5rem;
    color: #fafafa;
    transition: 0.5s;
}

.home-list li a:hover {
    padding: 0 10px;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
    transition: 0.5s;
}

/* About Page */

.about-section {
    min-height: 100vh;
}

/* Skills Page */

.skills-page {
    min-height: 100vh;
    background-image: linear-gradient(rgb(78, 127, 136), rgb(33, 121, 161), rgb(10, 84, 102));
}

.container {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .skill-card {
    position: relative;
    width: 200px;
    background: linear-gradient(0deg, #ececec, rgb(221, 221, 221), #ececec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .skill-card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .skill-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    pointer-events: none;
}

.skill-percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #fafafa;
    z-index: 1000;
}

.skill-percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skill-percent .number h2 {
    color: rgb(62, 80, 80);
    font-size: 40px;
    font-weight: 600;
    transition: 0.5s;
}

.skill-card:hover .skill-percent .number h2 {
    color: #1a1b1b;
    font-size: 50px;
}

.skill-percent .number h2 span {
    font-size: 25px;
    transition: 0.5s;
    color: rgb(62, 80, 80);
}

.skill-card:hover .skill-percent .number h2 span {
    color: #1a1b1b;
}

.code-lang {
    position: relative;
    color: rgb(62, 80, 80);
    font-size: 50px;
    transition: 0.5s;
}

.skill-card:hover .code-lang {
    color: #1a1b1b;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.skill-card:nth-child(1) svg circle:nth-child(2) {
    stroke: #ffc400;
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
}

.skill-card:nth-child(2) svg circle:nth-child(2) {
    stroke: #00a1ff;
    stroke-dashoffset: calc(440 - (440 * 65) / 100);
}

.skill-card:nth-child(3) svg circle:nth-child(2) {
    stroke: #fbff04;
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
}

.skill-card:nth-child(4) svg circle:nth-child(2) {
    stroke: #0486ff;
    stroke-dashoffset: calc(440 - (440 * 25) / 100);
}

/* Portfolio Page */

.portfolio-page {
    min-height: 100vh;
    background-image: linear-gradient(rgb(10, 10, 34), rgb(34, 33, 37), rgb(82, 78, 70));
}

.page-info {
    margin: 2rem auto;
    max-width: 88%;
    color: #fafafa;
    text-align: center;
}

.project-card-resume {
    color: rgb(19, 20, 20);
    margin: 2rem auto;
    width: 88%;
    background: #e7ecec;
    border: 2px solid rgb(40, 156, 177);
    transition: 0.5s;
}

.project-card-resume:hover {
    margin-top: 1rem;
    margin-bottom: 3rem;
    transition: 0.5s;
}

.card-deck {
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem
}

.project-card {
    margin-top: 1rem !important;
    transition: 0.5s;
    background: #e7ecec;
    color: rgb(19, 20, 20);
    border: 2px solid rgb(40, 156, 177);
}

.project-card:hover {
    margin-top: 0 !important;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.summary {
    text-align: left;
}

.project-card-resume .card-footer {
    display: flex;
    justify-content: space-around;
}

.card-footer a {
    padding-left: 5px;
    padding-right: 5px;
    color: #fafafa;
    background: rgb(19, 20, 20);
    border: 1px solid rgb(40, 156, 177);
    border-radius: 50%;
    transition: 0.5s;
}

.card-footer a:hover {
    color: rgb(19, 20, 20);
    background: #fafafa;
    transition: 0.5s;
    box-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
}

/* Contact Page */

.contact-page {
    min-height: 100vh;
    background-image: linear-gradient(rgb(84, 135, 143), rgb(79, 116, 146), rgb(26, 30, 34));
}

.contact-card {
    max-width: 90%;
    width: 25rem;
    margin: 3rem auto;
    font-family: "Merriweather", sans-serif;
    background: transparent;
    box-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(212, 228, 231), 0 0 5px #fafafa;
}

.contact-img {
    height: auto;
    max-width: 100%;
    padding: 3rem;
}

.card-body-contact {
    text-align: center;
    color: #fafafa;
    padding-top: 0;
}

.contact-info {
    text-align: center;
    color: #fafafa;
    border-color: #fafafa !important;
}

.list-group-item {
    background: transparent;
    border-color: #fafafa;
    transition: 0.5s;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.card-links {
    justify-content: center;
    align-items: center;
    display: flex;
}

.social-media-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-media-links li {
    padding: 0 1.5rem;
}

.social-media-links li a {
    font-size: 2.5rem;
    color: #fafafa;
    transition: 0.5s;
}

.social-media-links li a:hover {
    padding: 0 10px;
    text-shadow: 1px 1px 2px rgb(17, 19, 17), 0 0 25px rgb(40, 156, 177), 0 0 5px #fafafa;
    transition: 0.5s;
}

/* Media queries */

@media (max-width: 992px) {
    .home-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        font-family: "Merriweather", sans-serif;
        font-size: 1.5rem;
        color: #fafafa;
        letter-spacing: 3px;
    }

    .portfolio-text {
        width: 90%;
    }
}

@media (max-width: 520px) {
    .home-text {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        font-family: "Merriweather", sans-serif;
        font-size: 1.5rem;
        color: #fafafa;
        letter-spacing: 3px;
    }

    .home-list li {
        padding: 0 1rem;
    }

    .home-list li a {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    #logo {
        font-size: 1.1rem;
    }

    .home-list li a {
        font-size: 1.5rem;
    }

    .social-media-links li a {
        font-size: 2rem;
    }
}
