@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Taviraj:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

body {
    font-family: "Mitr", sans-serif;
    min-height: 100vh;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navigation menu and intro sliders */

.landing {
    padding: 0;
}

.nav-style {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 7vh;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  padding-left: 4rem;
  font-size: 1.2rem;
}

.nav-links li a {
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-toggler span i {
    color: #fafafa;
}

.nav-links li a:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

#logo {
    color: #fafafa;
    text-decoration: none;
    font-family: "Taviraj", sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

.intro {
  background: rgb(17, 19, 17);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #fafafa;
  font-family: "Taviraj", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.slider {
  background: rgb(52, 160, 179);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.welcome-text {
    font-family: "Taviraj", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

.hide {
  background: rgb(17, 19, 17);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* Home content */

.home-name {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-family: "Taviraj", sans-serif;
    font-size: 2rem;
    color: #fafafa;
    letter-spacing: 4px;
}

.home-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-family: "Taviraj", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #fafafa;
    letter-spacing: 4px;
}

.home-list {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    list-style: none;
    padding: 0;
    width: 80%;
    text-align: center;
}

.home-list li {
    display: inline;
    padding: 0 2rem;
}

.home-list li a {
    font-size: 2.5rem;
    color: #fafafa;
    transition: 0.5s;
}

.home-list li a:hover {
    padding: 0 10px;
    border: 1px solid #fafafa;
    border-radius: 50%;
    transition: 0.5s;
}

/* Media queries */

@media (max-width: 992px) {
    .home-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        font-family: "Taviraj", sans-serif;
        font-size: 1.5rem;
        color: #fafafa;
        letter-spacing: 3px;
    }
}

@media (max-width: 520px) {
    .home-list li {
        padding: 0 1rem;
    }

    .home-list li a {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    #logo {
        font-size: 1.1rem;
    }

    .home-list li a {
        font-size: 1.5rem;
    }
}
